            {% extends "partials/layout.html" %}

            {% block header %}

            {% include "partials/header.html" %}
            
            {% endblock header %}

            {% block section %}

            {% include "partials/slide.html" %}
            
            {% endblock section %}
     
            {% block trending_news %}

            {% include "partials/trending_news.html" %}
            
            {% endblock trending_news %}

         
            {% block categories_news %}

            {% include "partials/categories_news.html" %}
            
            {% endblock categories_news %}

     
            {% block recent_news %}

            {% include "partials/recent_news.html" %}
            
            {% endblock recent_news %}

   
            {% block subscribe %}

            {% include "partials/subscribe.html" %}
            
            {% endblock subscribe %}
       

        
            {% block footer %}

            {% include "partials/footer.html" %}
            
            {% endblock footer %}
        

            {% block script %}

            {% include "partials/script.html" %}
            
            {% endblock script %}
